body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .content {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInAnimation 0.5s ease forwards;
  }
  
  .title {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    color: #555;
    text-align: justify;
    line-height: 1.6;
  }
  
  .features {
    list-style-type: none;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation:forwards;
  }
  
  .contact {
    font-size: 16px;
    color: #777;
    text-align: center;
    margin-top: 30px;
  }
  
  .cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Animation */
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  