.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .faq-list {
    border-top: 2px solid #ccc;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-question:hover {
    background-color: #f0f0f0;
  }
  
  .toggle-icon {
    font-size: 20px;
    transition: transform 0.3s;
  }
  
  .faq-answer {
    padding: 3px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .faq-answer.active {
    max-height: 1000px; /* Adjust according to your content */
  }
  .faq-user-input {
    margin-top: 20px;
  }
  
  .faq-user-input input,
  .faq-user-input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .faq-user-input input::placeholder,
  .faq-user-input textarea::placeholder {
    color: #999;
  }
  
  .faq-user-input input:focus,
  .faq-user-input textarea:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  
  .faq-user-input button {
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-user-input button:hover {
    background-color: grey;
  }
  