/* Features.module.css */

.container {
    padding: 50px;
    background-color: #f9f9f9;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header h5 {
    font-size: 18px;
    color: #666;
}

.header h2 {
    font-size: 32px;
    color: #333;
    margin-top: 10px;
}

.properties {
    display: flex;
    justify-content: center;
    align-items: center;
}

.propertyGallery {
    overflow-x: auto;
    white-space: nowrap;
}

.imageContainer {
    display: inline-flex;
}

.propertyImage {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Added transition for transform and opacity */
}

.propertyImage:hover {
    transform: scale(1.1); /* Added scale transform on hover */
    opacity: 0.8; /* Reduce opacity on hover */
}

.scrollButton {
    font-size: 24px;
    color: #333;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease; /* Removed transition for transform */
}

.leftButton {
    margin-right: 10px;
}

.rightButton {
    margin-left: 10px;
}

.scrollButton:hover {
    color: #555;
}
