/* General styling */
.description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.home-image {
  width: 400px;
  height: 200px;
  float: left;
  margin-left: 900px;
  margin-bottom: 100px;
  animation: moveUp 1s ease-in-out infinite alternate;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 50px;
  animation: fadeInAndScale 1.5s ease-out;
}

.search-box-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search-box {
  position: relative;
  animation: moveDown 1s ease-in-out infinite alternate;
}

.search-box select {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f4f4f4;
  border-radius: 25px;
  appearance: none;
  -webkit-appearance: none;
}

.search-box select::placeholder {
  color: #999;
}

.search-box button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #2980b9;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: grey;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 80%;
  height: 80%;
  background-color: white;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.image-grid .grid-item {
  background-size: cover;
  background-position: center;
}

.image-grid .grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.image-grid .grid-item:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
/* 
.grid-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */



.grid-item .favorite-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 2; /* Ensure favorite button is above cart button */
}

.grid-item .cart-button {
  position: absolute;
  top: 10px;
  left: 40px; /* Adjusting the left position to avoid overlapping */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.grid-item .favorite-button img,
.grid-item .cart-button img {
  width: 20px;
  height: 20px;
}

/* Hover effect */
.grid-item .favorite-button:hover,
.grid-item .cart-button:hover {
  transform: scale(1.2);
}
