.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-container {
  margin-bottom: 20px;
}

.big-image {
  width: 100%;
  max-width: 600px;
}

.search-boxes {
  display: flex;
  justify-content: space-around; /* Horizontally space the input wrappers */
  flex-wrap: wrap; /* Allow wrapping of input wrappers */
  width: 100%; /* Ensure search boxes take full width */
  max-width: 600px; /* Set maximum width */
}

.input-wrapper {
  flex: 1; /* Let input wrappers take equal space */
  max-width: 200px; /* Set maximum width for input wrappers */
  margin: 0 5px; /* Add margin between input wrappers */
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none;
}

.select-wrapper select option {
  padding: 10px;
}

.select-wrapper select:focus + .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: calc(100% - 2px);
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
}
