.image {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.Image2 {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.Image2:hover {
    transform: translateY(-5px);
}

.overlay {
    background-color: grey;   
    color: white;
    padding: 20px;
}

.overlay h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: black;
}

.details {
    margin-top: 20px;
}

.details p {
    font-size: 1rem;
    margin-bottom: 5px;
    color: black;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 5px;
    color: black;
}

.back-to-home {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #2ecc71; /* Green background color */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.back-to-home:hover {
    background-color: #27ae60; /* Darker green background color on hover */
}
